protobuf-*
spatial_access/src/matrix.dSYM/Contents
*.csv
spatial_access/transitMatrixAdapter.cpp
logs/
*.DS_Store 
*.pyc
spatial_access/logs/
spatial_access/src/protobuf/p2p.pb.*
build/
data/matrices
PCNO/dedupe_working_data.csv
travel_times/access_score.ipynb
travel_times/access_score.ipynb
.pytest_cache/
.DS_Store
spatial_access.egg-info/
__pycache__
.cache
spatial_access/matrix.dSYM/
