.ipynb_checkpoints/
.idea/
spatial_access/src/.idea/vcs.xml
data/osm_query_cache/
figures/
dist/
spatial_access/src/matrix.dSYM/Contents
*.csv
logs/
*.DS_Store 
*.pyc
spatial_access/src/_p2pExtension.cpp
spatial_access/logs/
build/
data/matrices
travel_times/access_score.ipynb
travel_times/access_score.ipynb
.pytest_cache/
.DS_Store
spatial_access.egg-info/
__pycache__
.cache
spatial_access/matrix.dSYM/
.vscode/settings.json
